<img id="left-leap" class="leap" src= "<%= data.header.left_image.src %>" alt="<%= data.header.left_image.alt %>">
<img id="right-leap" class="leap" src="<%= data.header.right_image.src %>" alt="<%= data.header.right_image.alt %>">

<div id="title-div">
  <h1><span class="nobr"><a href="<%= data.header.url %>" >Ryan <span id="tweak-w">W</span>. Taylor</a></span></h1>
  <div id="subtitles">
      <ul class="bjqs">
          <% data.header.subtitles.each do |title| %>
          <li><h2><%= title %></h2></li>
          <% end %>
      </ul>
  </div><!-- subtitles -->
</div><!-- title-div -->
